<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/shim' %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <%= render 'layouts/header' %>
        <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
              <a class="close" data-dismiss="alert">×</a>
              <%= msg %>
            </div>
        <% end %>
        <div class="row">
          <div class="span2"/><div class="photos">
          <p><%= link_to image_tag(img src=", alt: "Eiffel Tower"), 'http://www.iie.org/' %></p>
          <p><%= link_to image_tag("st_basils.jpg", alt: "Eiffel Tower"), 'http://www.iie.org/' %></p>
          <p><%= link_to image_tag("spain_flag_w_moon.jpg", alt: "Eiffel Tower"), 'http://www.iie.org/' %></p>
          <p><%= link_to image_tag("hagiasofia.jpg", alt: "Eiffel Tower"), 'http://www.iie.org/' %></p>
          </div>
          </div>
          <div class="span8"><%= yield %></div>
          <div class="span2">
            <colleagues>
                <h2>Colleagues</h2>
            </colleagues>
          </div>
        </div>
        <%= render 'layouts/footer' %>
      </div>
</body>
</html>